.chart-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;

    .measure {
        width: 20%;
        position: relative;

        &.active-measure {
            background-color: purple;
        }

        .chord-display {
            padding-left: 10px;
        }
    
        .delete-measure-button {
            position: absolute;
            top: 0;
            right: 0;
        }
    
        .arpeggio-display {
            margin: 10px 0 10px 0;
        }
    
        .arpeggio-note:not(:last-child) {
            margin: 0 10px 0 0;
        }
    }
}

.chart-editor-wrapper {
    .editor-input {
        display: block;
        margin: 10px 0 10px 0;
    }
}