.chart-wrapper {

    .chart-line {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
    }

    .measure {
        flex: 1;
        max-width: 23%;
        position: relative;

        &.active-measure {
            background-color: purple;
        }
    
        .delete-measure-button {
            top: -20px;
            right: -20px;
        }
    
        .arpeggio-display {
            margin: 10px 0 10px 0;
        }
    
        .arpeggio-note:not(:last-child) {
            margin: 0 10px 0 0;
        }

        .chord-detail-wrapper {
            display: none;
        }

        &.measure-border {
            border: 3px solid purple;
            border-left: none;
            &:first-of-type {
                border-left: 3px solid purple;
            }

            padding: 10px;
            margin: 10px 0 10px 0;
        
            &:hover {
                border-color: black;
            }
        }
    }
}

.chart-editor-wrapper {
    .editor-input {
        display: block;
        margin: 10px 0 10px 0;
    }

    .measure-chord {
        display: inline-block;
        position: relative;
    }

    .note-type-list {
       text-align: center;
       margin: 10px;

        .note-type {
            font-size: xx-large;
            width: 20%;
            cursor: pointer;
        }
    }
}

.measure-chords-wrapper {
    background-color: lightgrey;

    .chord-display {
        display: inline-block;
        text-align: center;
        overflow-wrap: break-word;
        background-color: white;

        &:hover {
            .chord-detail-wrapper {
               display: block;
               position: absolute;
               background-color: white;
               border: 3px solid black;
               padding: 10px;
               z-index: 1;
           }
       }
    }
}

.repeat-bar-start {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    .repeat-bar {
        position: absolute;
        top: -2px;
        left: 0;
        height: 110%;
        width: 4%;
        background-color: black;

        &.little {
            width: 2%;
            position: absolute;
            top: 0;
            left: 6%;
        }
    }
}

.repeat-bar-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;

    .repeat-dot {
        position: absolute;

        width: 3px;
        height: 3px;
        background-color: black;
        border: 1px solid black;
        border-radius: 50%;

        &.top {
            top: 35%;
        }

        &.bottom {
            top: 65%;
        }
    }

    &.start {
        left: 0;

        .repeat-dot {
            left: 10%;
        }

        .repeat-bar {
            left: 0;

            &.little {
                left: 6%;
            }
        }
    }

    &.end {
        right: 0;

        .repeat-dot {
            right: 10%;
        }

        .repeat-bar {
            right: 0;

            &.little{
                right: 6%;
            }
        }
    }

    .repeat-bar {
        position: absolute;
        top: -2px;
        height: 110%;
        width: 4%;
        background-color: black;

        &.little {
            width: 2%;
        }
    }
}