.simple-border {
    border: 3px solid grey;
    padding: 10px;
    margin: 10px;

    &:hover {
        border-color: purple;
    }
}

.app-button {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border-style: hidden;

    &:hover {
        cursor: pointer;
        background-color: peru;
    }
}