.simple-border {
    border: 3px solid purple;
    padding: 10px;
    margin: 10px;

    &.no-margin {
        margin: 0;
    }

    &.measure {
        margin-right: 0;
        margin-left: 0;
    }

    &:hover {
        border-color: black;
    }
}

.app-button {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border-style: hidden;

    &.delete-button {
        position: absolute;
        top: 0;
        right: 0;

        padding: 5px;
    }

    &:hover {
        cursor: pointer;
        background-color: peru;
    }
}